:root {
    /* colors */
    --color-primary: #08A6E4;
    --color-primary-shadow: rgba(7, 172, 230, .16);
    --color-redish: #FB3B64;
    --color-green: #55DFB4;
    --color-black: #000000;
    --color-grey: #A5A5A5;
    --color-light-grey: #F7F7F7;
    --color-white: #FFFFFF;
    /* fonts */
    --font-raleway: Raleway, sans-serif;
    --font-open-sans: Open Sans, sans-serif;
    --btn-border-radius: 35px;
}

* {
    box-sizing: border-box;
}
body {
    font-family: var(--font-open-sans);
    line-height: 1;
}
.btn {
    border-radius: 35px;
    border: none;
    display: inline-block;
    font-weight: 700;
    padding: 16px 65px;
    text-decoration: none;
    font-family: var(--font-raleway);
    color: white;
}

.container {
    margin: 0 auto;
    width: 1352px;
}

.header {
    width: 100%;
    background: var(--color-white);
    box-shadow: 0 3px 6px rgb(0 0 0 / 16%);
    height: 70px;
}
.header .container {
    display: flex;
    justify-content: space-between;
}

.header .logo {
    display: flex;
    align-self: center;
    text-decoration: none;
    font-family: var(--font-open-sans);
    color: var(--color-primary);
    font-weight: 300;
    font-size: 35px;
}
.page-nav-list {
    display: flex;
    list-style: none;
}
.page-nav-list::selection {
    background: #b3d4fc;
    text-shadow: none;

}
.page-nav .page-nav-list a {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--color-grey);
    font-family: var(--font-open-sans);
    padding: 30px 40px;
}

.page-nav-list a:hover {
    color: var(--color-black);
    cursor: pointer;
    border-bottom: 3px solid var(--color-primary);
}

/* .banner {
    height: 100vh;
} */

.banner .container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 130px;
    text-align: center;
}
.banner-title {
    font-family: var(--font-raleway);
    font-size: 3.0625rem;
    vertical-align: baseline;
}
.banner-text {
    margin: 20px 0 0 38px;
}
.btn_banner {
    padding: 22px 155px;
    border-radius: var(--btn-border-radius);
    background-color: var(--color-primary);
    box-shadow: 3px 10px 14px var(--color-primary-shadow);
    border: none;
    color: var(--color-white);
    text-decoration: none;
    margin-top: 30px;
}
.banner img {
    width: 100%;
    height: auto;
}
section.informations {
    margin-top: 100px;
     }

.informations_title {
    text-align: center;
    font-family: var(--font-raleway);
    font-size: 2.25rem;
}
.informations_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 800px;
}
.informations_first,
.informations_second,
.informations_third {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 70px;
    font-family: var(--font-raleway);
    justify-content: flex-start;
    max-width: 160px;
    text-align: center;
}
.informations_first:first-child .circle {
    background-color: var(--color-redish);
}

.informations_second:nth-child(2) .circle {
    background-color: var(--color-primary);
}

.informations_third:nth-child(3) .circle {
    background-color: var(--color-green);
}

.informations_first .circle,
.informations_second .circle,
.informations_third .circle {
    border-radius: 50%;
    height: 63px;
    width: 63px;
    position: relative;
}
.informations_first .informations_img,
.informations_second .informations_img,
.informations_third .informations_img {
    left: 45%;
    top: 0;
    position: absolute;
    vertical-align: middle;
}
.informations_number {
    font-size: 1.25rem;
    font-weight: 800;
    letter-spacing: .1875rem;
    margin-top: 15px;
}
.informations_description {
    color: var(--color-grey);
    margin-top: 19px;
}
.benefits {
    background-color: var(--color-light-grey);
    padding: 100px 0;
}
 .benefits_container {
     padding: 0 100px;
 }

.benefits_box {
    background-color: var(--color-white);
    border: 1px solid #e8e9ed;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 38px;
}
h2.benefits_title {
    font-family: var(--font-raleway);
    font-size: 2.25rem;
}
.benefits_description {
    line-height: 1.375rem;
    margin-top: 30px;
}
.benefits_text {
   /* box-sizing: content-box; */
    margin: 90px 36px;
    max-width: 415px;
}
.benefits_text:after {
    background-color: var(--color-redish);
    content: "";
    display: block;
    height: 4px;
    margin-top: 50px;
    width: 332px;
}

.benefits_description{
    line-height: 1.375rem;
    margin-top: 30px;
}
.benefits_image {
    position: relative;
}
.benefits_image img {
    position: relative;
    z-index: 2;
}
.benefits_box_computer {
    --accent-color: var(--color-redish);
}

.benefits_box_computer .benefits_image {
    margin-bottom: 38px;
    margin-right: 117px;
   /* position: relative; nope*/
}
.benefits_box_computer .benefits_image:before {

     content: "";
     width: 180px;
     height: 180px;
     display: block;
     position: absolute;
     background-color: var(--accent-color);
     border-radius: 40px;
     right: 0;
     top: -40px;
     transform: rotate(45deg);
 }
.benefits_box_computer .benefits_image img {
    width: 386px;
    height: auto;
}

.benefits_box_smartphone {
    --accent-color: var(--color-primary);
    flex-direction: row-reverse;
    padding: 0 20px 0 70px;
}

.benefits_box_smartphone .benefits_image:before {
    content: "";
    display: block;
    width: 310px;
    height: 320px;
    background-color: var(--color-primary);
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: -20px;
}

.benefits_box_smartphone .benefits_image img  {
    height: auto;
    width: 426px;
}

.benefits_box_smartphone .benefits_text {
    margin: 70px 0;
}
.benefits_box_smartphone .benefits_description{
    line-height: 1.375rem;
    margin-top: 30px;
}


.benefits_box_other {
    display: flex;
    accent-color: var(--color-green);
}
.benefits_box_other>div {
    margin-bottom: 0;
}
.benefits_box .benefits_box_other {
    max-width: 620px;
}

.benefits_box_other .benefits_text {
    margin: 70px 35px;
    max-width: none;
    /*box-sizing: content-box; nope */
}

.benefits_box_image {
    flex-grow: 1;
    background-color: var(--color-green);
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 60px;
}
.benefits_box_image img {
    width: 295px;
    height: auto;
    margin-top: 55px;
}

.pricing {
    margin: 100px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.pricing_boxes {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pricing_box {
    width: 370px;
    align-items: center;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--color-redish);
    border-radius: 18px;
}

.pricing_details {
    margin-bottom: 60px;
    margin-top: 34px;
    text-align: center;
}
.pricing-name {
    font-family: var(--font-raleway);
    font-weight: 700;
    font-size: 1.25rem;
}
.pricing-price {
    margin-top: 25px;
    font-size: 2.875rem;
    font-family: var(--font-open-sans);
    font-weight: 300;
    color: var(--color-redish);
}
.pricing_items {
    text-align: center;
}
.pricing_item,
.pricing_item_red {
    font-size: 14px;
    margin-bottom: 20px;
}
.pricing_item::before {
    content: "";
    width: 11px;
    height: 11px;
    display: inline-block;
    margin-right: 10px;
    background-image: url("../images/images/Checkmark-1.svg");
}
.pricing_item_red::before {
    content: "";
    width: 11px;
    height: 11px;
    display: inline-block;
    margin-right: 10px;
    background-image: url("../images/images/Close.svg");
}

.pricing_box .btn {
    background-color: var(--color-redish);
    bottom: -25px;
    font-size: .8125rem;
    position: relative;
}
.pricing_box_professional {
    --accent-color: var(--color-primary);
    width: 400px;
    margin: 0 40px;
    box-shadow: 5px 1px 27px var(--color-primary-shadow);
}

.pricing_box_professional {
    width: 370px;
    align-items: center;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--color-primary);
    border-radius: 18px;
}
.pricing_box_professional .pricing-price {
    color: var(--color-primary);
}

.pricing_limited {
    text-align: center;
    margin-top: 15px;
    font-size: 0.75rem;
    font-family: var(--font-raleway);
    font-weight: 700;
}
.pricing_box .btn_pricing_box_professional{
    background-color: var(--color-primary);
}
.pricing_box_premium {
    width: 370px;
    align-items: center;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--color-green);
    border-radius: 18px;
}
.pricing_box_premium .pricing-price {
    color: var(--color-green);
}
.pricing_box .btn_pricing_box_premium {
    background-color: var(--color-green);
}
