:root {
    /* colors */
    --color-primary: #08A6E4;
    --color-primary-shadow: rgba(7, 172, 230, .16);
    --color-redish: #FB3B64;
    --color-green: #55DFB4;
    --color-black: #000000;
    --color-grey: #A5A5A5;
    --color-light-grey: #F7F7F7;
    --color-white: #FFFFFF;
    /* fonts */
    --font-raleway: Raleway, sans-serif;
    --font-open-sans: Open Sans, sans-serif;
    /* btn */
    --btn-border-radius: 35px;
}
* {
    box-sizing: border-box;
}
body {
    font-family: var(--font-open-sans);
    line-height: 1;
}

.container {
    margin: 0 auto;
    width: 1352px;
}

.header {
    width: 100%;
    background: var(--color-white);
    box-shadow: 0 3px 6px rgb(0 0 0 / 16%);
    height: 70px;
}
.header .container {
    display: flex;
    justify-content: space-between;
}

.header .logo {
    display: flex;
    align-self: center;
    text-decoration: none;
    font-family: var(--font-open-sans);
    color: var(--color-primary);
    font-weight: 300;
    font-size: 35px;
}
.page-nav-list {
    display: flex;
    list-style: none;
}
.page-nav-list::selection {
    background: #b3d4fc;
    text-shadow: none;

}
.page-nav .page-nav-list a {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--color-grey);
    font-family: var(--font-open-sans);
    padding: 30px 40px;
}

.page-nav-list a:hover {
    color: var(--color-black);
    cursor: pointer;
    border-bottom: 3px solid var(--color-primary);
}

.banner {
    height: 100vh;
}
.banner .container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 130px;
    text-align: center;
}
.banner-title {
    font-family: var(--font-raleway);
    font-size: 3.0625rem;
    vertical-align: baseline;
}
.banner-text {
    margin: 20px 0 0 38px;
}
.btn-banner {
    padding: 22px 155px;
    border-radius: var(--btn-border-radius);
    background-color: var(--color-primary);
    box-shadow: 3px 10px 14px var(--color-primary-shadow);
    border: none;
    color: var(--color-white);
    text-decoration: none;
    margin-top: 30px;
}
.banner img {
    width: 100%;
    height: auto;
}
